*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    width: 100%;
    height: 100px;
    padding: 10px;
    position: fixed;
    z-index: 1;
}

nav ul{
    float: right;
}

ul li{
    font-family: 'Bungee';
    width: 50px;
    height: 50px;
    margin: 20px;
    text-align: center;
    line-height: 50px;
    background-color: white;
    border-right: 1px solid gray;
    border-radius: 50%;
    display: inline-block;   
}

main > div{
    width: 100%;
    height: 100vh;
    position: relative;
}

.shoes-one{
    background-color: red;
}

.shoes-two{
    background-color: green;
}

.shoes-three{
    background-color: yellow;
}

.shoes-one img, .shoes-two img, .shoes-three img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-position: center;
}

p{
    text-align: center;
    font-size: 60px;
    color:yellow;
    font-family: 'Bungee';
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%);
    line-height: 70px;
}

.shoes-three p{
    text-align: center;
    font-size: 60px;
    color:green;
    font-family: 'Bungee';
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%);
    line-height: 70px;
}